<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  <title></title>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">  
</head>

<body>
  <div class="wrapper">
    <header class="hero">

<section class="masthead" role="img" aria-label="Image Description">
  <h1>
    Allen's techBlog
  </h1>
</section>
<br />
      <nav>
        {{#if loggedIn}}
       <button class="btn-no-style"><a href="/">Home</button></a>
        <button class="btn-no-style"><a href="/dashboard">Dashboard</button></a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
   <button class="btn-no-style"><a href="/login">Login</button></a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
<footer>
    <p>
        &copy 2021 AL Software Solutions.
    </p>
</footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>